<h1>Crear Grupo Estudio</h1>

<%= render 'form', grupo_estudio: @grupo_estudio %>

<% if @room %>
<%= link_to 'Back', campu_room_path(@campu, @room) %>
<% end %>

<% if @curso %>
<%= link_to 'Back', curso_path(@curso) %>
<% end %>
